<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{siteTitle}}</title>

  <link type="text/css" href="/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link type="text/css" href="/css/bootstrap-theme.css" media="all" rel="stylesheet" />
  <link type="text/css" href="/css/app.css" media="all" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.css">
  
  <script type="text/javascript" src="/js/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.js"></script>


</head>

<body id="page-top" class="index">



    <!-- Menu -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                </button>
                <a class="navbar-brand" href="#page-top">Rebeca Suárez</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


     <div id="canvas" class="container">
        {{{body}}}
    </div>




</body>

<!--script type="text/javascript" src="/js/ios-orientationchange-fix.js"></script-->

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</html>