body {
  max-width: 1024px;
  margin: 0 auto;
  color: #2c3e50;
  font-size: 16px;
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
    }

.navbar-default {
    background-image: -webkit-linear-gradient(top, #2c3e50 0%, #2c3e50 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8)); */
    /* background-image: linear-gradient(to bottom, #fff 0%, #f8f8f8 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    /* background-repeat: repeat-x; */
    /* border-radius: 4px; */
    /* -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075); */
    /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075); */
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 26px;

}

.navbar-default .navbar-brand:hover {
    color: #C299A5;
    
}

.btn-default {
    color: #ffffff;
    background-color: #C299A5;
    border-color: #C299A5;
    margin-left: 0px;
}

.btn-default:hover, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #C299A5;
    background: #ffffff;
    border-color: #C299A5;
    border-radius: 3px;
}

.btn-lg, .btn-group-lg>.btn {
    padding: 18px 27px;
    font-size: 22px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 12px 22px;
    font-size: 20px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.alert-success {
    background-color:#C299A5 ;
}


.alert-success {
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -o-linear-gradient(top, #dff0d8 0%, #c8e5bc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dff0d8), to(#c8e5bc));
    background-image: linear-gradient(to bottom, #C299A5 0%, #C299A5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0d8', endColorstr='#ffc8e5bc', GradientType=0);
    background-repeat: repeat-x;
    border-color: #C299A5;
}

#error {
    color:red;
    font-size: 12px;
}

#error2 {
    color:red;
    font-size: 12px;
}

#error3 {
    color:red;
    font-size: 12px;
}

